version: '3.7'

services:

# Product Service
  product-service:
    image: phambaophuc/mmv1-product-service:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "9000:9000"
    networks:
      - my-network
    depends_on:
      - eureka-server
      - mysqldb
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      management.zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans
      spring.datasource.url: jdbc:mysql://mysqldb:3306/fast_food_express_db
      spring.datasource.username: root
      spring.datasource.password: 123456

# Order Service
  order-service:
    image: phambaophuc/mmv1-order-service:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "9001:9001"
    networks:
      - my-network
    depends_on:
      - eureka-server
      - mongodb
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      management.zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans
      spring.data.mongodb.uri: mongodb://mongodb:27017/fast_food_express_db
      service.url.notification: http://notification-service:8800

# Review Service
  review-service:
    image: phambaophuc/mmv1-review-service:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "9002:9002"
    networks:
      - my-network
    depends_on:
      - eureka-server
      - mongodb
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      management.zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans
      spring.data.mongodb.uri: mongodb://mongodb:27017/fast_food_express_db

# Table Service
  table-service:
    image: phambaophuc/mmv1-table-service:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "9003:9003"
    networks:
      - my-network
    depends_on:
      - eureka-server
      - mysqldb
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      management.zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans
      spring.datasource.url: jdbc:mysql://mysqldb:3306/fast_food_express_db
      spring.datasource.username: root
      spring.datasource.password: 123456

# Notification Service
  notification-service:
    image: phambaophuc/mmv1-notification-service:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "8800:8800"
    networks:
      - my-network
    depends_on:
      - eureka-server
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka

# API Gateway
  api-gateway:
    image: phambaophuc/mmv1-api-gateway:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "8765:8765"
    networks:
      - my-network
    depends_on:
      - eureka-server
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      management.zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans

# EUREKA
  eureka-server:
    image: phambaophuc/mmv1-eureka-server:0.0.1-SNAPSHOT
    mem_reservation: 700m
    ports:
      - "8761:8761"
    networks:
      - my-network

# ZIPKIN
  zipkin-server:
    image: openzipkin/zipkin:latest
    mem_reservation: 300m
    ports:
      - "9411:9411"
    networks:
      - my-network

# MYSQL
  mysqldb:
    image: mysql:8.0
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3307"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: fast_food_express_db
    networks:
      - my-network

  phpmyadmin:
    depends_on:
      - mysqldb
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: mysqldb
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - my-network

# MONGODB
  mongodb:
    image: mongo:latest
    restart: always
    volumes:
      - db_data:/var/lib/mongo
    ports:
      - "27018:27017"
    networks:
      - my-network

networks:
  my-network:

volumes:
  db_data: